/*   
 * Creator: Marcus Groth
 * Date: 14e June
 * This is main css file view where all general style will be.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 26px;
  background-color: #fff;
  font-size: 1rem;
  width: 100%;
  color: rgb(37, 36, 36);
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

ul {
  list-style: none;
}

p {
  font-size: 1rem;
  letter-spacing: 0.015rem;
}

a:visited,
a:link {
  color: black;
  font-weight: 700;
}
